{% extends 'acespire/index.html' %}
{% load static %}
{% block content %}
     <div class="card bg-dark text-white">
  <img src="{% static "acespire/images/about-bg.jpg" %}" height="300px"" class="card-img" alt="...">
  <div class="card-img-overlay">
      <div class="empty-space marg-lg-b25"></div>
      <div class="empty-space marg-lg-b25"></div>
    <h1 class="text-center"><b>We Provide Exceptional Business Solutions!</b></h1>
    <p class="text-center">We aim to serve our clients by providing them with a helping hand to put their business on a path to growth and profitability. </p>
  </div>
</div>

<div class="empty-space marg-lg-b25"></div>

<!-- Research -->
<h2 class="text-center">About Us</h2>
<div class="container overflow-hidden">
  <div class="row">
    <div class="col">
     <div class="p-3"><img src="{% static "acespire/images/about-side.jpg" %}" alt="Acespire" width="400px" height="300px"></div>
    </div>
    <div class="col">
      <div class="p-3" style="text-align: justify;">
          <div class="empty-space marg-lg-b25"></div>
          <div class="empty-space marg-lg-b25"></div>
          To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.
Our mission is to focus on the pain areas of businesses, to enrich and provide maximum customer satisfaction when they use our services.</div>
    </div>
  </div>
</div>
<div class="empty-space marg-lg-b25"></div>
<div class="empty-space marg-lg-b25"></div>
<div class="empty-space marg-lg-b25"></div>
<div class="empty-space marg-lg-b25"></div>
<div class="empty-space marg-lg-b25"></div>
<div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row justify-content-evenly">
                <div class="col-6 col-md-4 col-lg-3" style="flex: 0 0 45%; max-width: 45%;">
                    <a href="">
                        <div class="card-flyer" style="margin-top: -180px;">
                            <div class="text-box">
                                <div class="text-container">
                                    <h6 style="text-align:left;color:#4082e5;">Vision</h6>
                                    <p style="text-align: justify;">Our vision is to lead the digital transformation revolution for enterprises of all sizes and be recognised as our customers’ trusted, innovative, and strategic partners. </p>
                                <div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div><div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div>
                                <div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div><div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div>
                                <div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div><div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div>
                                <div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               <div class="col-6 col-md-4 col-lg-3" style="flex: 0 0 45%; max-width: 45%;">
                    <a href="">
                        <div class="card-flyer" style="margin-top: -180px;">
                            <div class="text-box">
                                <div class="text-container" style="background-color: #4082e5;">
                                    <h6 style="text-align:left;color:white">Mission</h6>
                                    <p style="text-align: justify;color:white">Our objective is to leverage analytics, cutting-edge digital solutions, and mobility to strengthen operational efficiency and help our clients succeed in the challenging and evolving digital age. We aim to identify and provide innovative solutions to resolve the pain areas of the enterprises to achieve maximum customer satisfaction.</p>
                                <div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

<!-- End Research-->
<div class="container overflow-hidden">
  <div class="row">
    <div class="col">
     <div class="p-3" style="text-align: justify;color:white">
         <div class="empty-space marg-lg-b25"></div><h3>Who We Are ?</h3>
         To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.
Our mission is to focus on the pain areas of businesses, toenrich and provide maximum customer satisfaction when they use our services.</div>
    </div>
    <div class="col">
      <div class="p-3 bg-light" style="text-align: justify;">
          <div class="empty-space marg-lg-b25"></div><h3>Why Acespire ?</h3>
          To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.
Our mission is to focus on the pain areas of businesses, toenrich and provide maximum customer satisfaction when they use our services.</div>
    </div>
  </div>
</div>
<!-- Testimonials -->
<!--<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<div class="container">
  <h2 class="text-center" style="color:white">Our Partners</h2>
    <div class="empty-space marg-lg-b10 marg-sm-b50 marg-xs-b10"></div>
  <section class="customer-logos slider">
    <div class="slide"><img src="acespire/images/facebook.png" ></div>
    <div class="slide"><img src= "acespire/images/insta.jpg" ></div>
    <div class="slide"><img src="acespire/images/twitter.jpg"></div>
    <div class="slide"><img src="acespire/images/linked.png" ></div>
    <div class="slide"><img src="acespire/images/insta.jpg" ></div>
    <div class="slide"><img src="acespire/images/facebook.png"></div>
    <div class="slide"><img src="acespire/images/twitter.jpg" ></div>
    <div class="slide"><img src="acespire/images/insta.jpg" ></div>
  </section>
</div>-->
<!-- End Testimonials -->
 </div>
        </div>
    </div>
</div>

{% endblock %}