{% extends 'acespire/index.html' %}
{% load static %}
{% block content %}


  <img src="{% static "acespire/images/career-bg.jpg" %}" height="auto"" class="card-img" alt="...">
  <!--<div class="card-img-overlay" style="margin:auto;">
      <div class="empty-space marg-lg-b25"></div>
          <div class="empty-space marg-lg-b25"></div>
    <h1 class="text-center" ><b>Career with Us</b></h1>
  </div>-->
</div>
<div class="container overflow-hidden">
  <div class="row">
    <div class="col">
     <div class="p-3"><img src="{% static "acespire/images/career.jpg"%}" alt="Acespire" width="400px" height="300px"></div>
    </div>
    <div class="col">
      <div class="p-3" style="text-align: justify;">
          <div class="empty-space marg-lg-b25"></div><h3>Why Work With Us ?</h3>
          <div class="empty-space marg-lg-b25"></div><p>We are a passionate group of people who love what we do. For us, this is not just a job; it is an opportunity to transform businesses. The belief and passion in what we do help us strive for growth. Our collective ability allows us to find answers to our queries, learn new methods of doing work, and ultimately grow as one strong organization.</p>
      <p>We are proud to be seen as disruptors in the field, and we strive to be experts in what we do. This confidence comes from the successful track record and reputation that we have built. We would love to have you with us on our journey of being disruptive innovators. We are always on the lookout for seasoned professionals looking for a challenging and fun role. That is the reason we are inviting you to join our ever-growing talent pool!
</p></div>

    </div>
  </div>
</div>

<section class="py-5 header">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <i class="fa fa-user mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">softwaredevelopers</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <i class="fa fa-user mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Sr Data Integration Architect</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <i class="fa fa-user mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Power Apps</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <i class="fa fa-user mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">data Integration consultant</span></a>

                     <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-05" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <i class="fa fa-user mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Python Developer</span></a>
                    </div>
            </div>


            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <!--<h4 class="mb-4">Software Developers</h4> --><h5>Job Description</h5>
                        <p class="font-italic text-muted mb-2"> 1. Education: Computer Science, Engineering, or a related subject with 1-2 years of experience.<br>
                                                                2. Proven hands-on Software Development experience<br>
                                                                3. Proven working experience in Java, Python or C# development.<br>
                                                                4. Hands on experience in designing and developing applications using J2EE, dotnet platforms<br>
                                                                5. Object Oriented analysis and design using common design patterns.<br>
                                                                6. Excellent knowledge of Relational Databases, SQL and PowerApps Platform.<br>
                                                                7. Experience with test-driven development<br></p>
                     <span><b>Direct Contact: <a href="mailto:archana.bansal@acespireconsulting.com">archana.bansal@acespireconsulting.com</a></b></span>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <!--<h4 class="mb-4">Sr Data Integration Architect</h4> --><h5>Role:</h5>
                        <p class="font-italic text-muted mb-2"> 1. Work with the customer to Identify the data sources and the mappings/transformations needed to get that data into the target system<br>
                                                                2. Identify Data ETL requirements and then design an SSIS solution for them.<br>
                                                                3. Guide and review work of the SSIS resources to implement the designed solution.<br></p>
                        <h5>Skills:</h5>
                        <p class="font-italic text-muted mb-2"> 1. Extensive experience with implementation of SSIS packages and with creation, storage and documentation of relevant provisioning scripts<br>
                                                                2. Solid experience with Data Integration (should have used multiple ETL Tools) and ability to design a solution considering volume, velocity, variety, veracity and volume of data. <br>
                                                                3. Excellent communication skills to drive the discussion with the customer and provide direction on the right solution to follow.<br>
                                                                4. Experience with Supply Chain software as a source/target system is preferred.<br></p>
                     <span><b>Direct Contact: <a href="mailto:archana.bansal@acespireconsulting.com">archana.bansal@acespireconsulting.com</a></b></span>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                       <!-- <h4 class="mb-4">Power Apps</h4> --><h5>Requirements</h5>
                        <p class="font-italic text-muted mb-2"> 1. Experience in sending Push notifications to a specific user.<br>
                                                                2. Integrating any diagnostic tools services within PowerApps<br>
                                                                3. Candidates with 5 to 6 years of strong experience in Lifecycle Management for Power Apps, SharePoint & Automate.<br>
                                                                4. Able to understand complex workflows and translate them to how to build these in PowerApps.<br>
                                                                5. Experience in migration will be additional. <br></p>
                     <span><b>Direct Contact: <a href="mailto:archana.bansal@acespireconsulting.com">archana.bansal@acespireconsulting.com</a></b></span>
                        </div>

                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                       <!-- <h4 class="mb-4">Data Integration Consultant</h4>--> <h5>Role:</h5>
                        <p class="font-italic text-muted mb-2"> 1. Work with the customer to Identify the data sources and the mappings/transformations needed to get that data into the target system<br>
                                                                2. Identify Data ETL requirements and then design an SSIS solution for them.<br>
                                                                3. Guide and review work of the SSIS resources to implement the designed solution.<br></p>
                        <h5>Skills:</h5>
                        <p class="font-italic text-muted mb-2"> 1. Extensive experience with implementation of SSIS packages and with creation, storage and documentation of relevant provisioning scripts<br>
                                                                2. Solid experience with Data Integration (should have used multiple ETL Tools) and ability to design a solution considering volume, velocity, variety, veracity and volume of data. <br>
                                                                3. Excellent communication skills to drive the discussion with the customer and provide direction on the right solution to follow.<br>
                                                                4. Experience with Supply Chain software as a source/target system is preferred.<br></p>
                     <span><b>Direct Contact: <a href="mailto:archana.bansal@acespireconsulting.com">archana.bansal@acespireconsulting.com</a></b></span>
                    </div>
                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-05" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <!--<h4 class="mb-4">Python Developer</h4>--> <h5>Role</h5>
                        <p class="font-italic text-muted mb-2"> 1. We're recruiting for a Front-End Web Developer who is enthusiastic about combining design and programming.<br>
                                                                2. Translation of the UI/UX design wireframes to actual code that will produce visual parts of the project will be one of the responsibilities.<br>
                                                                3. You'll collaborate with the UI/UX designer to bridge the gap between graphical design and technical implementation, playing an active part on both sides and helping to define how the app looks and functions.</p>
                        <h5>Skills:</h5>
                    <p class="font-italic text-muted mb-2">1. Design decisions are based on ensuring a positive user experience.<br>
                                                           2. Choosing the structure and appearance of web pages.<br>
                                                           3. Making code that can be reused in the future.<br>
                                                           4. Getting the right blend of functional and aesthetic design.<br>
                                                           5. Adding new features to improve the user experience.<br>
                                                           6. Developing web pages with a number of markup languages.<br>
                                                           7. Increasing the speed and scalability of web pages.<br>
                                                           8. Assuring that web design is mobile-friendly.<br>
                    <span><b>Direct Contact: <a href="mailto:archana.bansal@acespireconsulting.com">archana.bansal@acespireconsulting.com</a></b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


</style>
<div class="container overflow-hidden">
  <div class="row">
    <div class="col" style="background-color: #9198a3;color: white;">
     <div class="p-3"style="text-align: justify;">
          <div class="empty-space marg-lg-b25"></div><h3>Team Work</h3>
          <div class="empty-space marg-lg-b25"></div>We are a passionate group of people who work together to achieve success. All of us aim to grow as one and help each other out in times of need. We welcome you to join us and become a part of our journey of growth and success.
</div>
    </div>
    <div class="col" style="background-color: #4082e5;">
     <div class="p-3"style="text-align: justify;color:white">
          <div class="empty-space marg-lg-b25"></div><h3>Work Environment</h3>
          <div class="empty-space marg-lg-b25"></div>We believe in flexibility and giving you space to work. You will get flexible timings, and we are always available to help you whenever you need. We have full faith in our people, and we do not believe in micro-management.
</div>
    </div>
  </div>
</div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
{% endblock %}