{% extends 'acespire/index.html' %}
{% load static %}
{% block content %}
      <div class="card bg-dark text-white">
  <img src="{% static "acespire/images/contact-bg.jpg" %}" height="500px" class="card-img" alt="...">
  <div class="card-img-overlay">
      <div class="empty-space marg-lg-b25"></div>
      <div class="empty-space marg-lg-b25"></div>
      <div class="card-body text-center">
    <h1 class="text-center"><b>Contact Information</b></h1>
          <div class="container contact-form">
            <div class="contact-image">
                <img src="{% static "acespire/images/Acespire icon.jpg"%}" width="300px" height="100px">
            </div>
            <form method="post" action="#">
                <h3>Get in Touch</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
</div>
  </div>
</div>
     </div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
<div class="container">
  <div class="row">
    <div class="col inner-shadow-right box">
        <h5 class="text-center">India</h5>
        <p class="text-center">Kokarya Coworking,#07/3, 2nd Floor, 18th Main Rd, Jayanagara 9th Block, Bengaluru, Karnataka-560041</p></div>
      <div class="col inner-shadow-right box">
        <h5 class="text-center">United States</h5>
        <p class="text-center">6135 Frisco Square Blvd, Suite 400,
#283 Frisco, TX 75034</p></div>
    <div class="col inner-shadow-right box"><h5 class="text-center">Call Us:</h5>
        <p class="text-center">India: <a href="tel:+91 94161-15310">+91 94161-15310</a></p>
         <p class="text-center">United States: <a href="tel:+1 972-672-9843">+1 972-672-9843</a></p></div>
    <div class="col "><h5 class="text-center">Email:</h5>
        <p class="text-center">info@acespireconsulting.com</p></div>
  </div>
</div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
<div class="container overflow-hidden">
  <div class="row">
      <div class="col" style="background-color: #4082e5;">
      <div class="p-3" style="text-align: justify;color:white"><h3 class="text-center">Why Acespire ?</h3><div class="empty-space marg-lg-b25"></div>
          Acespire consulting is a group of people who are experts at delivering the IT services that customers need to drive innovation and modernize operations across their IT estate. We help you in optimizing cloud technologies to ensure a secure, hybrid, and automated high-performance environment. Our experts can help you transform your business digitally to help you provide your customers with the experience that they deserve. We also offer other services like data integration and supply chain management. Contact us to transform your business, and let us help you make your business scale new heights!
</div>
    </div>
      <div class="col">
     <div class="p-3" style="text-align: justify;"><h3 class="text-center">India</h3>
         <div class="mapouter"><div class="gmap_canvas"><iframe width="538" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=Acespire%20Tech%20Consulting%20Private%20Limited&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a><br><style>.mapouter{position:relative;text-align:right;height:250px;width:538px;}</style><a href="https://www.embedgooglemap.net">embed google maps on website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:538px;}</style></div></div></div>
     <div class="p-3" style="text-align: justify;"><h3 class="text-center">United States</h3>
         <div class="mapouter"><div class="gmap_canvas"><iframe width="538" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=Acespire%20Consulting%20and%20Solutions%20LLC,2208%20Riviera%20Dr,%20Little%20Elm,%20TX%2075068,%20United%20States&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a><br><style>.mapouter{position:relative;text-align:right;height:200px;width:538px;}</style><a href="https://www.embedgooglemap.net">embed google maps on website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:538px;}</style></div></div>
      </div>
     </div>
  </div>
</div>

<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
{% endblock %}