{% extends 'acespire/index.html' %}
{% load static %}
{% block content %}

<!-- BANNER IMAGE -->

  <link rel="stylesheet" href="{% static 'acespire/css/styles.css' %}"/>
    <section class="hero" style="height: 70vh;">

        <div class="hero-content">

           <h1 class="hero-title">
            Leveraging technologies to provide the best business solutions for your business!
           </h1>

           <h2 class="hero-subtitle">

           </h2>

        </div>

    </section>


<!-- BANNER IMAGE END -->

<!-- Product & Services -->
<div class="empty-space marg-lg-b25"></div>
<div class="container" style="margin-top: -250px;">
  <div class="row">
    <div class="col">
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded" style="border-radius: 1rem!important;">
          <div class="about-product text-center mt-2"><img src="{% static "acespire/images/technology.png" %}" width="100">
        <h5>Cloud Technologies</h5></div>
        <p>"We are a AWS Cloud Services consulting firm.Being AWS registered partner in the region, we have the capabilities to build, deploy, and manage enterprise infrastructure in AWS.Our professionals are equipped to provide IT strategy and roadmap for AWS <a href="#" class="text-info">View More</a>."</p>
         </blockquote></div>
    <div class="col">
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded" style="border-radius: 1rem!important;">
        <div class="about-product text-center mt-2"><img src="https://cdn-icons-png.flaticon.com/512/1814/1814556.png" width="100">
            <h5>Digital Transformation</h5></div>
        <p>"Digitalization is rapidly transforming how companies operate and the way they go to market. The Internet of Things (IoT), big data, embedded sensors and geo-spatial tracking are just a few of the technologies companies are using to gain greater <a href="#" class="text-info">View More</a>."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </blockquote></div>
  </div>
  </div>
  </div>
<div class="empty-space marg-lg-b25"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded" style="border-radius: 1rem!important;">
          <div class="about-product text-center mt-2"><img src="{% static "acespire/images/supply-chain.png" %}" width="100">
              <h5>Supply Chain</h5></div>
        <p>"With focus on providing the best inventory and logistics solutions, our consultants provide innovative solutions to reduce the lag and keep the chain smooth. We have worked on providing solution to reduce the hops and turn the inventory into finished goods <a href="#" class="text-info">View More</a>."</p>
         </blockquote></div>
    <div class="col">
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded" style="border-radius: 1rem!important;">
          <div class="about-product text-center mt-2"><img src="{% static "acespire/images/data-integration.png" %}" width="100">
              <h5>Data&nbsp;Integration</h5></div>
        <p>"Data Integration is an integral part of the IT landscape in most of the current industries. From getting the real time data in correct format to catering all the business and functional needs, their presence is dominant. We have a strong expertise in building this business <a href="#" class="text-info">View More</a>."</p>
      </blockquote></div>
  </div>
  </div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
<!-- End Product & Services-->

<div class="container overflow-hidden">
  <div class="row">
    <div class="col">
     <div class="p-3"> <img src="{% static "acespire/images/service.jpg" %}" alt="Acespire" width="400px" height="300px"></div>
    </div>
    <div class="col">
      <div class="p-3" style="text-align: justify;">
          <h1>Benefits of Our Services</h1><div class="empty-space marg-lg-b25"></div>
          With us, you do not have to worry about the timelines and the quality of work. Our team of experts provides the top of line services and is always on schedule with the projects. We provide you with a customized plan according to your needs and have a portfolio of services to help you choose the right one for your business. With our NextGen technologies and a host of innovative solutions, we are transforming the way enterprises operate.</div>
    </div>
  </div>
</div>
<div class="empty-space marg-lg-b25"></div>

<div class="bottom-row">
    <div class="col-left">
        <h1>Transforming Businesses</h1>
        <p style="text-align: justify;">In this era of digital transformation and leveraging NextGen technologies, Acespire is a one-stop solution that caters to all your needs. We are not just an IT solutions company; we have a portfolio of services like Cloud technologies, supply chain management, and data integration to empower our customers and enhance their digital capabilities. In addition, our experts provide tailor-made solutions according to your business needs. With us, you will experience a transformative change in the way your business works!</p>
    </div>
    <div class="col-right">
        <img src="{% static 'acespire/images/about_bottom.jpg' %}" />
    </div>
</div>

<div class="container mt-5">
    <div class="row"><h2 class="text-center">Our Work</h2>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <diṁv class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/paperwork_1098-18036.jpg" width="300px" height="150px"></span><span class="ratings"></diṁv>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/business-analyse-concept-idea-background_1421-4.jpg" width="300px" height="150px"></span><span class="ratings"></div>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/business-analysis-planing-solution-objective-strategy-concept_1421-375.jpg" width="300px" height="150px"></span><span class="ratings"></div>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>

            </div>
        </div>
    </div>
</div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
{% endblock %}