{% extends 'acespire/index.html' %}
{% load static %}
{% block content %}
    <div class="card bg-dark text-white">
  <img src="{% static "acespire/images/research-bg.jpg" %}" height="400"" class="card-img" alt="...">
 <!-- <div class="card-img-overlay">
      <div class="empty-space marg-lg-b25"></div>
      <div class="empty-space marg-lg-b25"></div>
    <h1 class="text-center"><b>We have Best Business Solution</b></h1>
    <p class="text-center">We dream to serve our customers by Providing a helping</p>
    <p class="text-center">hands to grow our customers business</p>
  </div>-->
</div>

<div class="empty-space marg-lg-b25"></div>

<!-- Research -->
<h2 class="text-center">We Offer the Finest Research and Solutions!
</h2>
<div class="container overflow-hidden">
  <div class="row">
    <div class="col">
     <div class="p-3"> <img src="{% static "acespire/images/about.jpg" %}" alt="Acespire" width="400px" height="300px"></div>
    </div>
    <div class="col">
      <div class="p-3" style="text-align: justify;">
          Our team of experts has varied research backgrounds, and they have completed research papers on some of the emerging technological and innovative solutions. The research showcases the experience and knowledge of our experts and will help you understand the needs of your business. Some of the top research has been published so that you can understand the area of expertise of our top experts, and it will also help you comprehend the services that you can utilise to take your business to the next level.</div>
    </div>
  </div>
</div>


<div class="container mt-5">
    <div class="row"><h2 class="text-center">Our Research List</h2>
        <div class="col-md-4">
            <div class="card p-3" style="border: 1px solid rgb(84 168 219);border-radius: 0.6rem;">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/paperwork_1098-18036.jpg" width="300px" height="150px"></span><span class="ratings"></div>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3" style="border: 1px solid rgb(84 168 219);border-radius: 0.6rem;">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/business-analyse-concept-idea-background_1421-4.jpg" width="300px" height="150px"></span><span class="ratings"></div>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3" style="border: 1px solid rgb(84 168 219);border-radius: 0.6rem;">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/business-analysis-planing-solution-objective-strategy-concept_1421-375.jpg" width="300px" height="150px"></span><span class="ratings"></div>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3" style="border: 1px solid rgb(84 168 219);border-radius: 0.6rem;">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/group-business-people-analysis-with-marketing-report-graph-young-specialists-are-discussing-business-ideas-new-digital-start-up-project_1150-1819.jpg" width="300px" height="150px"></span><span class="ratings"></div>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3" style="border: 1px solid rgb(84 168 219);border-radius: 0.6rem;">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/business-team-working-new-business-plan-with-modern-digital-computer-top-view-shot_1423-240.jpg" width="300px" height="150px"></span><span class="ratings"></div>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3" style="border: 1px solid rgb(84 168 219);border-radius: 0.6rem;">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column ml-2"><span><img src="https://image.freepik.com/free-photo/close-up-pen-market-research_1098-3465.jpg" width="300px" height="150px"></span><span class="ratings"></div>
                </div>
                <p style="text-align: justify;">To put it simple, we are not just IT solutions and services. We are unique and have specialization in Cloud Technologies and Supply Chain management. We enable our customers with our innovative solutions using Next Gen technologies and domain expertise to make happy and satisfied business partners.</p>
            </div>
        </div>
        <div class="empty-space marg-lg-b25"></div>
    </div>
</div>
<style>

.ratings i {
    color: green
}

.install span {
    font-size: 12px
}

.col-md-4 {
    margin-top: 27px
}
</style>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
 <div class="card bg-dark text-white">
  <img src="https://image.freepik.com/free-photo/diverse-businesspeople-having-meeting_53876-103954.jpg " height="300px"" class="card-img" alt="...">
  <div class="card-img-overlay">
      <div class="empty-space marg-lg-b25"></div>
      <div class="empty-space marg-lg-b25"></div>
    <h1 class="text-center"><b>Make Your Work Simpler</b></h1>
    <p class="text-center">We dream to serve our customers by Providing a helping</p>
    <p class="text-center">hands to grow our customers business</p>
  </div>
</div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
<div class="container overflow-hidden">
  <div class="row">
    <div class="col">
        <div class="p-3" style="text-align: justify;">
          <div class="empty-space marg-lg-b25"></div><h3>Make Your Work Simpler</h3>
          <div class="empty-space marg-lg-b25"></div>At Acespire, we understand that every business has unique needs which require tailor-made solutions. Therefore, we offer specialized services and creating strategic plans according to the needs of your business. We have a versatile portfolio of services to cater to the varied requirements of our customers. Our experts will guide you through the processes and will be there to resolve any queries that you might have. We firmly believe in offering professional-grade and highest quality services to all our customers. </div>

    </div>
    <div class="col">
      <div class="p-3"><img src="{% static "acespire/images/research.jpg" %}" alt="Acespire" width="400px" height="300px"></div>
    </div>
  </div>
</div>
<div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div><div class="empty-space marg-lg-b25"></div>
{% endblock %}